.tag {
  @include size(auto, 22px);
  border-radius: 0;
  color: rgba(255, 255, 255, .85);
  font-size: $font-size-small;
  font-weight: $weight-medium;
  letter-spacing: .5px;
  padding: 1px 6px 0;
  text-transform: uppercase;
}