.content {
  position: relative;

  .body {
    color: $gray-3;
    font-family: $family-serif-regular;
    font-size: $size-normal;
    line-height: $line-height-loose;
    text-align: left;

    @include tablet {
      line-height: 1.8;
      text-align: justify;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $weight-bold;
    text-align: left;
  }

  h2 {
    font-size: $size-2;
  }

  h3 {
    font-size: $size-3;
  }

  h4 {
    font-size: $size-4;
  }

  p, ul {
    font-size: 1rem;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  a:not(.button) {
    border-bottom: 1px solid lighten($link, 42.5%);
    transition: border $speed $easing;

    @include hover-focus-active {
      border-bottom-color: rgba($grey-dark, .08);
    }

    &:active,
    &:focus {
      background-color: rgba($grey-dark, .08);
    }
  }

}
