.content {
  position: relative;

  .body {
    color: $gray-3;
    font-family: $family-serif-regular;
    font-size: $size-normal;
    line-height: $line-height-loose;
    text-align: left;

    @include tablet {
      line-height: 1.8;
      text-align: justify;
    }
  }

  p, ul {
    font-size: 1rem;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  a:not(.button) {
    border-bottom: 1px solid lighten($link, 42.5%);
    transition: border $speed $easing;

    @include hover-focus-active {
      border-bottom-color: rgba($grey-dark, .08);
    }

    &:active,
    &:focus {
      background-color: rgba($grey-dark, .08);
    }
  }

}
