.tag {
  border-radius: 0;
  color: rgba($white,.85);
  font-size: .914rem;
  font-weight: $weight-medium;
  height: auto;
  letter-spacing: .0375rem;
  padding: 3px 8px 2px;
  text-transform: uppercase;
  width: auto;

  > a {
    color: rgba($white,.85);

    @include hover-focus {
      color: $white;
    }
  }
}
