.nav {

  /**
   * Primary Nav
   */
  &-primary {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include breakpoint('tablet') {
      padding: 10px 0;
    }
  }

  /**
   * Secondary Nav
   */
  &-secondary {
    
  }
}

.nav-item {
  padding: 0;
}

.nav-item a,
a.nav-item {
  $spacing: 15px;
  $spacing-icon: 4px;
  $inverse-white: rgba(255, 255, 255, 0.94);

  color: $inverse-white;
  font-weight: $weight-bold;
  padding: $spacing;

  @include on-event {
    color: $primary-color;
  }

  .header.is-inverse & {
    color: $gray-3;

    @include on-event {
      color: $primary-color;
    }
  }

  /* adjust color when on page with class `.single-post` in the `body` */
  .single-post .header & {
    color: $gray-3;

    @include on-event {
      color: $primary-color;
    }
  }
  

  &.logo {
    margin-left: $spacing;

    @include breakpoint('desktop') {
      margin-left: 0;
      //margin-right: $spacing;
    }
  }

  &.is-icon {
    color: rgba(255, 255, 255, 0.28);
    padding: $spacing-icon;

    @include on-event {
      color: $primary-color;
    }

    &:last-child {
      margin-right: ($spacing - $spacing-icon);

      @include breakpoint('desktop') {
        margin-right: 0;
      }
    }

    .header.is-inverse & {
      color: $primary-color;

      @include on-event {
        color: $gray-6;
      }
    }

    /* adjust color when on page with class `.single-post` in the `body` */
    .single-post .header & {
      color: $primary-color;

      @include on-event {
        color: $gray-6;
      }
    }
  }

  &.is-tab {
    color: $gray-4;
    font-size: 0.825em;
    font-weight: $weight-bold;
    padding-left: $spacing;
    padding-right: $spacing;
    text-transform: uppercase;
    transition: border $speed $easing;

    @include on-event {
      color: $primary-color;
    }
  }

  /* this class controls the SVG file injected into the header */
  .theme-logo {
    width: 100%;
    max-width: 215px;

    .cls-1 {
      fill: $black;
    }

    .header:not(.is-inverse) & {

      /**
       * For small screens, the header background remains white, so keep the 
       * logo black in all instances until the screen size reaches tablet size
       */
      @include breakpoint('tablet') {
        .cls-1 {
          fill: $inverse-white;
        }
      }
    }

    /* adjust fill when on page with class `.single-post` in the `body` */
    .single-post .header & {
      .cls-1 {
        fill: $black;
      }
    }

    @include breakpoint('desktop') {
      max-width: 230px;
    }
  }
}



.nav-menu {
  font-size: 13px;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}