.post {
  padding: 30px 0;

  &:first-of-type {
    padding-top: 0;
  }

  & + & {
    border-top: 1px solid $gray-e;
  }

  /**
   * Creating `.post-meta` element so modified versions 
   * of `.post` will inherit and can override its styles
   */
  &-meta {
    color: $gray-6;
    font-size: $font-size-small;
    font-weight: $weight-medium;
    line-height: $line-height-tight;

    span {
      display: inline-block;

      & + span {
        &::before {
          content: '\2022';
          font-weight: $weight-black;
          margin: 0 6px 0 4px;
          @include opacity(.5);
        }
      }
    }
  }

  /**
   * Featured Post
   */
  &.featured {
    padding: 40px 0 0;

    @include breakpoint('tablet') {
      padding: 160px 0 0;
    }
    @include breakpoint('desktop') {
      padding: 180px 0 0;
    }

    a {
      color: $white;

      @include on-event {
        color: $primary-color;
      }
    }

    .subtitle {
      color: rgba(255, 255, 255, 0.82);
    }

    .post-meta {
      color: rgba(255, 255, 255, 0.64);
    }
  }

  /**
   * Single Post
   */
  &.single {

    .post-meta {

      span {
        display: block;
      }
    }

    .post-header {
      max-width: 640px;
      margin: 20px auto 60px;
      text-align: center;

      @include breakpoint('tablet') {
        max-width: 700px;
        margin-top: 40px;
      }

      @include breakpoint('desktop') {
        max-width: 760px;
        margin-top: 60px;
      }

      .author {
        color: $gray-6;
        font-size: 1.143em;
        font-style: italic;
        margin: 50px 0 0;

        &::before {
          background-color: $gray-d;
          content: '';
          display: block;
          margin: 0 auto;
          position: relative;
          top: -25px;
          @include size(40px, 1px);
        }
      }
    }

    .tag + .title {
      margin-top: 21px;
    }

    .title{
      @include breakpoint('desktop') {
        font-size: ($size-1 * 1.333);
      }
    }

    .subtitle {
      font-size: $size-4;
      @include breakpoint('tablet') {
        font-size: 1.75em;
      }
      @include breakpoint('desktop') {
        font-size: 1.875em;
      }
    }

    .post-content {
      max-width: 540px;
      margin: 0 auto;

      @include breakpoint('tablet') {
        max-width: 600px;
      }

      .post-meta {
        margin: 0 0 1.5em;

        @include breakpoint('desktop') {
          line-height: 1;
          position: absolute;
          top: 9px;
          left: -120px;
          width: 90px;
          height: auto;
        }

        span + span::before {
          display: none;
        }

        .date {
          color: $gray-3;
          font-size: 16px;
          letter-spacing: .25px;
          margin: 0 0 5px;

          time {
            font-weight: $weight-black;
          }
        }

        .citation {
          color: $gray-9;
        }

        .pdf-link {
          position: absolute;
          top: 0;
          right: 0;

          @include breakpoint('desktop') {
            margin-top: 1.25em;
            position: relative;
            top: auto;
            right: auto;
          }

          .fa {
            margin-right: 4px;
          }

          a {
            border: 0;
            color: inherit;

            @include on-event {
              color: $primary-color;
            }
          }
        }
      }

      /* drop cap when on page with class `.single-post` in the `body` */
      .single-post & {
        .body p:first-of-type::first-letter {
          color: $primary-color;
          float: left;
          font-family: $family-sans-serif;
          font-size: 3.714em;
          font-weight: $weight-bold;
          line-height: 0.875;
          padding: 1px 4px 0 0;

          @include breakpoint('tablet') {
            font-size: 4em;
            padding-right: 6px;
          }
        }
      }
    }
  }

  /**
   * Sidebar Post
   */
  .sidebar & {
    padding: 10px 0;

    & + .post {
      border: 0;
    }

    .date {
      font-size: 12px;
      margin: 0 0 1px;
    }

    .author {
      font-size: $font-size-small;
      margin-top: 4px;
    }
  }
}