.table-of-contents {

  /**
   * The `.subtitle` class is used for the header on the table of contents
   * page (Current Issue) since it already has most of the styles we want.
   */
  .subtitle {
    //border-top: 1px solid $gray-d;
    border-bottom: 1px solid $gray-d;
    color: $gray-9;
    margin-bottom: 1.5em;
    padding: 0 0 0.125em;
  }

  .label {
    margin-bottom: 1.125em;
  }

  .group {
    margin-left: 0.75em;

    &:not(:last-of-type) {
      margin-bottom: 3em;

      @include breakpoint('desktop') {
        margin-bottom: 3.5em;
      }
    }
  }

  .item {
    margin-bottom: 1.5em;
    position: relative;

    @include breakpoint('tablet') {
      margin-bottom: 1.75em;

      &.has-author {

        &::after {
          border-bottom: 1px dotted $gray-c;
          content: '';
          position: absolute;
            right: 0;
            bottom: 3px;
            left: 0;
          z-index: 0;
        }
      }
    }

    @include breakpoint('desktop') {
      margin-bottom: 2em;
    }
  }

  .title {
    font-size: $size-5;
    margin: 0 0 0.25em;

    @include breakpoint('tablet') {
      margin: 0;
      max-width: 50%;
    }

    @include breakpoint('desktop') {
      font-size: ($size-5 * 1.25);
    }

    a {
      /* the inset shadow covers up the dotted line on the `.item` */
      box-shadow: 0 -12px 0 $white inset;
      position: relative;
      z-index: 1;
    }
  }

  .post-meta {
    background-color: $white;
    font-style: italic;
    z-index: 1;

    @include breakpoint('tablet') {
      margin: 0 0 -5px;
      padding: 0 0 5px 5px;
      position: absolute;
        right: 0;
        bottom: 0;
    }

    @include breakpoint('desktop') {
      font-size: 1em;
    }
  }
}