.sidebar {
  padding: 0;

  @include tablet {
    padding: 0 15px;
  }

  @include widescreen {
    padding: 0 30px;
  }

  /**
   * Modifier for `.sidebar.news`
   */
  &.news {
    color: $gray-6;

    a {
      color: $gray-6;

      @include hover-focus {
        color: $link;
      }
    }

    p {
      font-size: $size-small;
      line-height: $line-height-tight;

      &:not(:first-of-type) {
        margin-top: 1em;
      }
    }

    .title {
      a {
        color: $gray-6;
        font-size: 1rem;

        @include hover-focus {
          color: $link;
        }
      }
    }
  }
}
